main {
  background: rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.1);
}


main article span,
main ul li span {
  color: rgb(5, 160, 220)
}


.control {
  display: block;

  margin: 0 auto;

  /* background-color: rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 20px 7px rgba(0, 0, 0, 0.4); */
}
