/* General */
body {
  position: relative;
}

main {
  padding: 0 3vw;

  width: 100%;
  height: 100%;
}

main section {
  width: 100%;
}

ul {
  list-style: none;
}


.vertical-container {
  padding-bottom: 7vh;
}

.flex-container {
  flex-direction: row;
}



/* Cards */
.card {
  width: 8.5vw;

  border-radius: 0.75vw;
}


.cards-list {
  display: flex;
  justify-content: space-between;
}

.cards-list-out-of-bounds-container {
  /* NOTE: same value as in padding of 'controls-pane' class * (-1). */
  margin: 0 -2vw;
  width: 84vw;
}


.deck-info {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns:
    [col1-end] 25%
    [col2-end] 23%
    [col3-end] 4%
    [col4-end] 48%;
  justify-items: start;

  padding: 4vh 5vw;

  text-align: left;
}

.deck-info > button {
  justify-self: end;
}

.deck-info > p {
  display: block;

  width: 100%;
  height: 100%;

  vertical-align: middle;
}

.deck-info__pointer {
  text-align: center;
}

.deck-info__pointer--up {
  margin-top: -2vh;
}

.deck-info__pointer--down {
  margin: 2vh 0 -2vh 0;
}



/* Controls */
.controls-pane {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 5vh 5vw 0;
}

.controls-pane > div > button:nth-child(even) {
  margin-left: 2vw;
}

.control-container {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 10vw;
}

#play-btn::before {
  content: '→';
}



/* On-load hint */
.on-load-hint {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;

  padding: 20vh 25vw;

  width: 100vw;
  height: 100vh;

  /* background-color: rgba(0, 0, 0, 0.75); */
  background-image: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0.75) 5%,
    rgba(0, 0, 0, 0.85),
    rgba(0, 0, 0, 0.75) 95%
  );
}

.on-load-hint button {
  background: none;
}

.on-load-hint button::before {
  display: none;
}

.on-load-hint p {
  text-align: center;
}

.on-load-hint p span {
  color: rgb(5, 160, 220);
}
