/* General */
.vertical-container {
  padding-top: 5vh;
  padding-bottom: 6vh;
}

.horizontal-container {
  padding-left: 8vw;
  padding-right: 7vw;
}

.in-game-layout {
    display: flex;
    flex-direction: row;
    align-items: center;

    width: 100%;
    height: 100%;
}



/* Caravans section */
.caravans-section {
  flex: 5 1 0;

  height: 100%;
}

.caravans {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    padding: 0;
    margin: 0 10vw 0 0;

    height: 100%;
}

.caravans-column {
    flex: 0 0 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.caravans-column span {
    display: block;

    margin: 1vh auto;
}



/* Deck section */
.deck-section {
    flex: 3 1 0;

    display: flex;
    flex-direction: column;

    height: 100%;
}



/* Info */
.info-block {
    flex: 0.3 1 0;

    margin-left: 20%;
    margin-right: 10%;
}

.info-block__item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}

.info-block__item span:last-child {
    margin-left: 10px;
}



/* Controls */
.controls-block {
    flex: 0.3 1 0;

    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.controls-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

  position: absolute;
  bottom: 0;
  left: 0;

  width: 100%;
}



/* Cards deck */
.card-frame {
  display: block;
  background-color: transparent;

  width: 6vw;
  height: 6vw;

  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.7),
              inset 0 0 10px 1px rgba(0, 0, 0, 0.7);

  border-radius: 0.5vw;
}

.cards-deck-block {
    flex: 1 1 0;
}

.cards-deck-block > * {
    display: inline-block;

    height: 100%;
}

.cards-in-hand,
.cards-in-hand--mirrored {
    width: 60%;

    position: relative;
}

.cards-in-hand img,
.cards-in-hand--mirrored img {
    display: inline-block;

    position: absolute;
}

.cards-in-hand img:nth-child(1) {
    top: 64%;
    left: 24%;
    transform: translate(-50%, -50%) rotate(-10deg);

    z-index: 10;
}

.cards-in-hand--mirrored img:nth-child(1) {
    bottom: 57%;
    right: 35%;
    transform: translate(50%, 50%) rotate(10deg);

    z-index: 10;
}

.cards-in-hand img:nth-child(2) {
    top: 58%;
    left: 32%;
    transform:  translate(-50%, -50%) rotate(-6deg);

    z-index: 11;
}

.cards-in-hand--mirrored img:nth-child(2) {
    bottom: 50%;
    right: 43%;
    transform: translate(50%, 50%) rotate(6deg);

    z-index: 11;
}

.cards-in-hand img:nth-child(3) {
    top: 50%;
    left: 41%;
    transform:  translate(-50%, -50%) rotate(-2deg);

    z-index: 12;
}

.cards-in-hand--mirrored img:nth-child(3) {
    bottom: 42%;
    right: 52%;
    transform: translate(50%, 50%) rotate(2deg);

    z-index: 12;
}

.cards-in-hand img:nth-child(4) {
    top: 56%;
    left: 57%;
    transform:  translate(-50%, -50%) rotate(2deg);

    z-index: 13;
}

.cards-in-hand--mirrored img:nth-child(4) {
    bottom: 48%;
    right: 68%;
    transform: translate(50%, 50%) rotate(-2deg);

    z-index: 13;
}

.cards-in-hand img:nth-child(5) {
    top: 62%;
    left: 65%;
    transform:  translate(-50%, -50%) rotate(10deg);

    z-index: 14;
}

.cards-in-hand--mirrored img:nth-child(5) {
    bottom: 54%;
    right: 76%;
    transform: translate(50%, 50%) rotate(-10deg);

    z-index: 14;
}

.cards-deck {
    position: relative;

    width: 38%;

    margin: 0 auto;
}

.cards-deck img {
    display: inline-block;

    position: absolute;
}

.cards-deck img:nth-child(1) {
    top: 50%;
    left: 50%;
    transform:  translate(-50%, -50%);

    z-index: 12;
}

.cards-deck img:nth-child(2) {
    top: 52%;
    left: 48%;
    transform:  translate(-50%, -50%);

    z-index: 11;
}

.cards-deck img:nth-child(3) {
    top: 54%;
    left: 46%;
    transform:  translate(-50%, -50%);

    z-index: 10;
}

.cards-deck span {
    position: absolute;

    bottom: 5%;
    right: 5%;
}

.cards-in-hand img.card--selected {
  z-index: 100;

  box-shadow: 0 0 15px 3px rgba(0, 0, 0, 0.6),
              1vw 0.8vh 4px 0 rgba(0, 0, 0, 0.65);
}



/* Picked card */
.picked-card {
  display: none;

  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;

  border: 3px solid rgba(145, 190, 115);
  /* border: 3px solid rgba(220, 80, 95); */
}
