.form-column:first-child {
  align-items: flex-start;
}

.form-column:last-child {
  align-items: flex-end;
}

.form-input {
  width: 95%;
}


.flex-container main {
  flex-grow: 1;
}


.menu-button {
  margin: 5vh auto 0;
}


main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
